<!--ViewModel: EditUserViewModel -->

<div id="foreground" data-bind="visible: IsBusy">
    <div class="loading">
        loading...
    </div>
</div>

<form class="form-horizontal">
    Firstname
    <input type="text" data-bind="value: User().Firstname" /><br />
    Lastname
    <input type="text" data-bind="value: User().Lastname" /><br />
    <input type="checkbox" data-bind="checked: User().IsAdmin" />IsAdmin<br />
    Status
    <select data-bind="options: AvaiableStatuses, selectedOptions: User().Status, value: User().Status, optionsText: 'Value'"></select><br />

    Pages:
    <div data-bind="foreach: User().Pages, dropZone: { accepts: 'target', drop: function (data, model) { dropSource(data, model); } }" style="border: red solid 1px; padding: 5px; min-height: 100px;">
        <p style="cursor: move" data-bind="text: $data.Name, dragZone: { name: 'source' }"></p>
    </div>

    Available pages:
    <div data-bind="foreach: AvaiablePages, dropZone: { accepts: 'source', drop: function (data, model) { dropTarget(data, model); } }" style="border: red solid 1px; padding: 5px; min-height: 100px;">
        <p style="cursor: move" data-bind="text: $data.Name, dragZone: { name: 'target' }"></p>
    </div>

    <button class="btn btn-default" data-bind="click: AddUserCommand">Save</button>
    <button class="btn btn-default" data-dismiss="modal" data-bind="click: CancelCommand">Cancel</button>
    @*todo: если открыто на добавление то убрать кнопку удалить*@
    <button class="btn btn-default" data-bind="click: RemoveUserCommand">Delete</button>
</form>
