@{
    ViewBag.Title = "Index SPA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head
{
    @Scripts.Render("~/bundles/commonJs")
    @Scripts.Render("~/bundles/app")
}

<div class="modal fade" id="basicModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" style="width: 450px;">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">x</button>
                <h4 class="modal-title" id="myModalLabel">Название модального окна</h4>
            </div>
            <div id="modalBody" class="modal-body">
            </div>
        </div>
    </div>
</div>

<div id="container">
    <button data-bind="click: GoToAddUserCommand" class="btn btn-primary">Add</button>
    <table class="table table-striped table-hover" style="width: 960px;">
        <thead>
            <tr>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Status</th>
                <th>Is admin</th>
                <th>Pages</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: Users">
            <tr style="cursor: pointer;" data-bind="event: { dblclick: $root.GoToEditUserCommand }">
                <td><span data-bind="text: Firstname" /></td>
                <td><span data-bind="text: Lastname" /></td>
                <td><span data-bind="text: Status" /></td>
                <td>
                    <input type="checkbox" data-bind="checked: IsAdmin" disabled="disabled" /></td>
                <td>
                    <!-- ko foreach: Pages -->
                    <span data-bind="text: $data.Name"></span>
                    <!-- /ko -->
                </td>
            </tr>
        </tbody>
    </table>
</div>
